.post{
    background-image: url('../../assets/banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 88vh;
    display: flex;
    align-items: center;
    color: white;
    h2{
        
        width: 27vw;
        margin-left: 130px;
        font-size: 40px;
    }
}