
.boxDoados{
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.boxcard{
    // border: solid 2px green;
    width: 85vw;
    height: 60vh;
    article{
     border:  solid 2px #005695;
     width: 13vw;
     height: 32vh;
     display: flex;
     justify-content: space-evenly;
     align-items: center;
     flex-direction: column;
     border-radius: 13px;
      img{
        padding-bottom: 20px;
      }
    }
}